.zabiznes {
    background-color: #c6e9ff;
    border-bottom: 5px solid #000000;
}

.zabiznes .container {
    max-width: 1400px;
    display: flex;
    padding: 40px 100px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.zabiznes__left {
    width: 40%;

}

.zabiznes__left-heading {
    font-size: 60px;
    text-align: left;
    margin: 0 0 20px 0;
    color: #000;
}

.zabiznes__left-text {
    text-align: left;
    font-size: 20px;

}

.zabiznes__right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #00000011;
    padding: 30px 10px;
    border-radius: 40px;
    animation: breathing 3s ease-in-out infinite;
}

@keyframes breathing {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.03);
        opacity: 1;
    }
}

.zabiznes__right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    transition: all 1s;
}

.zabiznes__right-wrapper:hover {
    transform: scale(1.1);
    background-color: #00000023;
    cursor: default;

}

.zabiznes__right-icon {
    margin: 0 0 10px 0;
}

.zabiznes__right-wrapper-heading {
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

.zabiznes__right-wrapper-text {
    text-align: center;
    font-size: 14px;
    margin: 0;
}