.reg-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.forms-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.form-container {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
}

.reg-page__heding {
  font-size: 30px;
  color: hsl(238, 100%, 50%);
  margin-bottom: 20px;
}

.reg-page__text {
  font-size: 18px;
  color: #656aff;
}