.portairs {
    background-color: #e4e4e4;
    margin: 0;
    padding: 10px 0px;
}

.portnairs__text {
    font-size: 3vw;
    text-align: center;
    margin: 0 0 40px 0;
}

.portnairs__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    max-width: 100vw;
    flex-wrap: nowrap;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    height: 260px;
}



/* Скрыть скроллбар */
.portnairs__list::-webkit-scrollbar {
    display: none;
}

.portnairs__list-item {
    flex: 0 0 auto;
}

.portnairs__list-item-img {
    width: 160px;
    height: 100px;
    object-fit: contain;
}

@media (max-width: 480px) {
    .portairs {
        padding: 2px 0px;
    }
    .portnairs__text {
        font-size: 8vw;
        margin: 0 0 10px 0;
    }
    .portnairs__list {
        gap: 20px;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        height: 120px;
    }
    .portnairs__list-item-img {
        width: 70px;
        height: 45px;
    }
}