.admin-panel {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.admin-panel > aside {
  flex-basis: 300px;
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fafafa;
  border-radius: 6px;
  box-sizing: border-box;
}

.admin-panel > div {
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
}

.search-input {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.admin-section {
  margin-bottom: 40px;
}

.admin-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table.small-table {
  font-size: 0.9rem;
}

.admin-table th,
.admin-table td {
  border: 1px solid #ddd;
  padding: 8px;
  word-break: break-word;
  align-content: center;
}

.admin-table th {
  background-color: #f0f0f0;
}

.approve-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  height: 45px;
}

.edit-btn {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  height: 45px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 6px;
  height: 45px;
}

.approve-btn:hover {
  background-color: #45a049;
}

.edit-btn:hover {
  background-color: #0b7dda;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: white;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.modal label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal input,
.modal select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  box-sizing: border-box;
}

.modal-buttons {
  margin-top: 20px;
  text-align: right;
}

.modal-buttons button {
  padding: 6px 14px;
  margin-left: 10px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .admin-panel {
    flex-direction: column;
    padding: 10px;
  }

  .admin-panel > aside,
  .admin-panel > div {
    flex-basis: 100%;
    max-height: none;
    overflow-y: visible;
  }

  .admin-panel > aside {
    margin-bottom: 20px;
  }
}
