.orders {
  padding: 20px;
  background: #fbfeff;
  min-height: 100vh;
  color: #000000;
}

.orders-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.category-filter-heading {
  display: block;
  font-size: 20px;
  margin: 0 auto 20px;
  text-align: center;
}

.orders-filter-container {
  width: 300px;
  background: #f1faff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  height: fit-content;
  position: sticky;
  top: 20px;
}

.orders-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.filter-group label {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 12px;
  color: #000000;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: none;
  overflow: visible;
}

.category-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.category-item input[type="checkbox"] {
  cursor: pointer;
  width: 14px;
  height: 14px;
}

#region-select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 0.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
}

#region-select:focus {
  outline: none;
  border-color: #007bff;
}

.orders-list-container {
  flex: 1 1 auto;
  min-width: 0;
}

@media (max-width: 900px) {
  .orders-container {
    flex-direction: column;
  }

  .orders-filter-container {
    width: 100%;
    position: relative;
    top: auto;
    margin-bottom: 25px;
  }
}